.black-nav {
  display: flex;
  background: black;
  width: 98%;
  padding: 20px;
  justify-content: space-between;
}
.contentBox{
  
  margin: 30px;
}
.blogTitle{
  color: white;
  margin-left: 2%;
  font-weight: 600;
  font-size: 20px;
}
.writeContent{
  margin-right: 2%;
  border-radius: 20%;
  width: 100px;
}
