.wrapper{
    width: 40%;
    display: grid;
    border: 1px solid black;
    border-radius: 1%;
    padding: 10px;
    margin: 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
}
.item{
    border: 2px solid black;
}
.title{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0%;
}

.content{   
    grid-row: 2/5 span;
    display: grid;
    grid-template-rows: 1fr;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
.reply{
    text-align: left;
}
.heart{
    text-align: right;
}
